.homeNavbar{
     position: sticky;
     top:0px;
     height: 1em;
     max-width: 100%;
     background: linear-gradient(to right, rgb(126, 125, 125),rgb(238, 234, 234));
     justify-content: space-between;
     align-items: center;
     padding: 0px 30px 0px 30px;
     margin-bottom:-70px ;
     z-index: 999;
}

.home-project-name{
    color: rgb(3, 0, 0);
    text-transform: uppercase;
    letter-spacing: 7px;
    font-size: 1.5em;
    display: block;
}

.home-navbar_list{
    display: flex;
    list-style: none;
}
.home-navbar_item{
    padding-top: 12px;
    white-space: nowrap;
    font-size: 3vh
}

.home-navbar_link{
    text-decoration: underline 0.15em rgba(0, 0, 0, 0);
     color: rgb(8, 0, 0);
     margin: 0px 5px;
     cursor: pointer;

}

.home-profileImage{
    width: 6.5vh;
    height: 6.5vh;
    border-radius: 50%;
    cursor: pointer;
}
