.label-input-area{
    margin-left: 5vh;
}

.label-input-field{
    outline: none;
    font-size: 10px;
    width: fit-content;
    width: 100%;
    max-width: 92%;
    padding: 5px 5px 5px 5px;
    margin-top: 3%;
}

.label-title{
    // padding-bottom: px;
    font-size: 10px;
    margin-left: 5vh;
    margin-top: 22px;
}